* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ms_bck_grey {
    background-color: grey;
}

.ms_head {
    height: 100px;
    background-color: rgb(2, 90, 112);
}

.ms_jumbo {
    height: 600px;
    background-color: rgb(24, 209, 138);
}

.ms_main {
    height: 100%;
    background-color: rgb(218, 214, 214);
}

.ms_about {
    height: 100%;
    background-color: mediumturquoise;
}

.ms_contact {
    height: 100%;
    background-color: rgb(209, 212, 212);
}


.ms_footup {
    height: 100%;
    background-color: steelblue;
}

.ms_foot {
    height: 100%;
    background-color: royalblue;
}

.ms_white_txt {
    color:white;
}



.jumbo_avatar {
    height: 400px;
    
}

.ms_jumbo p {
    text-transform: uppercase;
    color: white;
}


.fa-star {
    color: white;
}